body{
  --dark-txt: #000;
  --med-dark: #111;
  --txt-col: #222;
  --med-txt: #3c3c3c;
  --comp-txt: #ddd;
  --light-txt: #aaa;
  --comp-clr: #e6e6e6;
  --gray-txt: #555;
  --sat-txt: #777;
  --mid-txt: #888;
  --clrPrm: #0067c0;
  --scroll: rgb(255 255 255 / 80%);

  --white: #fefefe;
  --black: #010101;
  --active-blue: #0181fd;
}

.med-txt{
  color: var(--med-txt);
}

.comp-txt{
  color: var(--comp-txt);
}

.gray-txt{
  color: var(--gray-txt);
}

.sat-txt{
  color: var(--sat-txt);
}

.backblur{
    backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.prtclk{
  *{
    pointer-events: none;
  }
}

.status-bar{
  // position: absolute;
  height: var(--stbar-h);
  width: 100%;
  display: flex;
  font-size: 0.8em;
  padding: 0 1em;
  padding-top: 1em;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 200ms ease-in-out;
  color: var(--txt-col);

  &[data-invert="true"]{
    color: var(--comp-txt);
  }
}

.status-row{
  display: flex;
  align-items: center;

  & > div{
    margin: 0 2px;
  }

  .battery-level{
    font-size: 0.9em;
    height: 14px;
    margin-right: 0.25em;
  }
}

@keyframes fastfadein {
  0% {
    opacity: 0;
  }

  99% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes pop-up {
  from{
    transform: scale(0.5);
  }

  to{
    transform: scale(1);
  }
}

@keyframes pop-up2 {
  from{
    transform: scale(0.5);
  }

  to{
    transform: scale(1);
  }
}

.press-in{
  transition: transform 200ms ease-in-out;
  &:active{
    transform: scale(0.86);
  }
}

.quick-trans{
  transition: transform 100ms ease-in-out;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.active-light-lit{
  transition: all 200ms ease-in-out;

  &:active{
    background: rgba(254, 254, 254, 0.25);
  }
}

.active-dark-lit{
  transition: all 200ms ease-in-out;

  &:active{
    background: rgba(0, 0, 0, 0.25);
  }
}
